@import 'tailwindcss';

html,
body {
    background-color: #121212;
    color: rgb(229 231 235); /* Set a default light-gray text color for better readability on a dark background */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.logo {
    height: 2em;
    padding: 0;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
}
